.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1583418007992-a8e33a92e7ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG9sZCUyMHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 800px;
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 100%;
  text-align: center;
}

.author {
  width: 100%;
  text-align: center;
}

.btn {
  margin-top: 30px;
  background-color: white;
  color: black;
  width: 200px;
  height: 30px;
}

.btn:hover {
  cursor: pointer;
}
